* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



/* Utility---------------------------------- */

.d-f {
    display: flex;
}

/* Body */



/* Header---------------------------------- */


.header-up {
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    border: dashed black;

}

.nav {
    display: flex;
    width: 1140px;
    justify-content: space-between;
    height: 30px;
    border: dashed black;
}

.header-bottom{
    
    justify-content: center;
    padding: 1.5rem;
    height: 300px;
    display: flex;
    border: dashed black;

}

.banner{
    display: flex;
    width: 1140px;
    justify-content: center;
    border: dashed black;
}

/* Main--------------------------------------- */

/* Section-1 */

.section-1{
    display: flex;
    justify-content: center;
    padding: 2rem;
    border: dashed black;
    height: 500px;
    background: white;
    
}
.Container-section-1{
    width: 1140px;
    display: flex;
    
}


.section-1-left{
    
    
    justify-content: center;
    border: dashed black;
    flex-grow: 0.6;
    
}
.section-1-right{
    justify-content: center;
    border: dashed black;
    flex-grow: 0.4;
    
    
}

/* Section-2 */

.section-2{
    display: flex;
    justify-content: center;
    padding: 2rem;
    border: dashed black;
    height: 500px;
    background: gray;
    
}
.Container-section-2{
    width: 1140px;
    display: flex;
    flex-direction: row-reverse;
    
    
}


.section-2-left{
    
    
    justify-content: center;
    border: dashed black;
    flex-grow: 0.6;
    
}
.section-2-right{
    justify-content: center;
    border: dashed black;
    flex-grow: 0.4;
    
    
}

/* Section-3 */

.section-3{
    display: flex;
    justify-content: center;
    padding: 2rem;
    border: dashed black;
    height: 800px + 1.5rem;
    background: gray;
    
}
.Container-section-3{
    width: 1140px;
    display: flex;
    flex-direction: row-reverse;
    
    
}

.section-center-3{
    width: 100%;
    border: dashed black;
    height: 800px;
}   


/* Debug */

.debug-header-up {
    background: lightblue;
}

.debug-nav {
    background: orange;
}

.debug-nav-item{
    border: dashed black;
}

.debug-header-bottom{
    background: blue;
}

.debug-banner{
    background: pink;
}

.debug-section-1-left{
    background: rgb(19, 89, 180);
}
.debug-section-1-right{
    background: rgb(189, 40, 29);
}

.debug-section-2-left{
    background: rgb(19, 89, 180);
}
.debug-section-2-right{
    background: rgb(189, 40, 29);
}

.debug-section-center-3{
    background: green;
}
