* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* Utility---------------------------------- */

.d-f {
    display: flex;
}

/* Body */


/* Header---------------------------------- */


.header-up {
    display: flex;
    justify-content: center;
    padding: 1.5rem;

}

.nav {
    display: flex;
    width: 1140px;
    justify-content: space-between;
    height: 30px;
    border: dashed black;
}

.header-bottom{
    
    justify-content: center;
    padding: 1.5rem;
    height: 300px;
    display: flex;

}

.banner{
    display: flex;
    width: 1140px;
    justify-content: center;
    border: dashed black;
}

/* Main--------------------------------------- */

.section-1{

}



/* Debug */

.debug-header-up {
    background: lightblue;
}

.debug-nav {
    background: orange;

}

.debug-header-bottom{
    background: blue;
}

.debug-banner{
    background: pink;
}

.debug-section-1{
    background: white;
}
